.smart {
    background-color: rgba(255, 245, 160, 0.39);
    color: rgb(255, 123, 0);
    
}
.green{
    background-color: rgba(166, 255, 166, 0.486);
    color: rgb(0, 133, 0);
}
.confort {
    background-color: rgba(166, 205, 255, 0.473);
    color: rgb(0, 79, 197);
}
.distance {
    background-color: rgb(227, 166, 255);
    color: rgb(110, 0, 114);
}