
 


.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;
    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;



        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
          }

          .details {
            margin-left: 1cm;

            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }

            .detailItem {
              margin-bottom: 10px;
              font-size: 14px;
              align-content: flex-end;

              .itemKey {
                font-weight: bold;
                color: gray;
                // margin-right: 5px;

              }

              .stars {
                align-self: start;
              }

              .itemValue {
                font-weight: 300;

              }
            }
          }
        }
      }

      .right {
        flex: 2;
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
    }
  }
}

.cellAction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
 
  

  .deleteButton1 {
    border-radius: 5px;
    width: 120px;
    color: rgb(199, 4, 4);
    border: 1px solid rgba(238, 27, 27, 0.6);
    cursor: pointer;
  }

  .validate {
    border-radius: 5px;
    width: 140px;
    color: rgb(31, 129, 6);
    border: 1px solid rgb(31, 129, 6);
    cursor: pointer;
  }

  .Disprove {
    border-radius: 5px;
    width: 130px;
    color: rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    cursor: pointer;
  }
  
}
.cellAction1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 29px;
    .deleteButton1 {
      border-radius: 5px;
      width: 120px;
      color: rgb(199, 4, 4);
      border: 1px solid rgba(238, 27, 27, 0.6);
      cursor: pointer;
    }
  
    .validate {
      border-radius: 5px;
      width: 140px;
      color: rgb(31, 129, 6);
      border: 1px solid rgb(31, 129, 6);
      cursor: pointer;
    }
  
    .Disprove {
      border-radius: 5px;
      width: 130px;
      color: rgb(83, 83, 83);
      border: 1px solid rgb(83, 83, 83);
      cursor: pointer;
    }
  }
