.veri {
    background-color: rgb(174, 252, 174);
    color: rgb(39, 185, 39);
    font-weight: bold;
    border-radius: 10px;

    .textSta {
        padding: 5px;
    }
}

.disa {
    background-color: rgb(255, 217, 217);
    color: rgb(219, 55, 55);
    font-weight: bold;
    border-radius: 10px;

    .textSta {
        padding: 5px;
    }
}