.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 3.4px;
    background: radial-gradient(farthest-side,#474bff 95%,#0000) 50% 0/13.4px 13.4px no-repeat,
           radial-gradient(farthest-side,#0000 calc(100% - 5.6px),#474bff calc(100% - 4.5px)) content-box;
    animation: spinner-x3enp9 1.5s infinite;
 }
 
 @keyframes spinner-x3enp9 {
    to {
       transform: rotate(1turn);
    }
 }