.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    
  }

  .status {
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    &.succeed {
      color: rgb(29, 165, 29);
      background-color: rgb(253, 253, 253);
    }
    &.scheduled {
      
      color: rgb(4, 61, 146);
      background-color: rgb(253, 253, 253);
    }
    &.inprogress {
      color: rgb(132, 153, 12);
      background-color: rgb(253, 253, 253);
    }
    &.failed {
      color: rgb(255, 27, 27);
      background-color: rgb(253, 253, 253);
    }
  }
}
 