.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.succeed {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.scheduled {
      color: rgb(89, 230, 194);
      background-color: rgba(189, 189, 3, 0.103);
    }
    &.inprogress {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
    &.failed {
      color: rgb(255, 27, 27);
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
